---
- name: Point dns to Goku
  win_dns_client:
    adapter_names: "{{ ethernet_adapter }}"
    ipv4_addresses:
      - 192.168.112.221
      - 8.8.8.8
  register: dns_setup

# Make sure RDP is on
- include: enable_rdp.yml

#  Setup the firewall
- include: firewall_445.yml

- include: firewall_3389.yml

- name: Join the capsulecorp.local domain
  win_domain_membership:
    dns_domain_name: capsulecorp.local
    hostname: "{{ capsulecorp_domain_hostname }}"
    domain_admin_user: goku@capsulecorp.local
    domain_admin_password: PassW0rd432!
    state: domain
  register: domain_state

- name: Reboot the server
  raw: shutdown /r

